.loading {
    color: white;
}

.asteroid-details {
    margin: 3em;
    height: 75vh;
    color: white;
    padding: 2em;
    background-size: 120vw;
}

.asteroid-misc p {
    font-size: larger;   
}

.asteroid-misc button {
    margin-left: 0px;
    margin-bottom: 1em;
    font-size: larger;
}

.asteroid-size {
    width: 80vw;
    background-color: green;
}

.blue-whale {
    width: 8vw;
}

@media screen and (max-width: 500px) {
    .asteroid-misc p {
        width: 85vw; 
    }
}