.all-asteroids-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 95vw;
    padding: 1em;
    background-color: rgb(111, 111, 111);
    min-height: 100vh;
}

.all-asteroids-grid p,
.all-asteroids-grid span {
    font-size: larger;
}

.all-asteroids-number {
    width: 95vw;
    margin-bottom: 0em;
    margin-top: 2em;
    text-align: end;
}

.flying-asteroid,
.flying-asteroid2 {
    z-index: 0;
    animation: fly 15s infinite;
    top: 0;
    left: 0;
    position: fixed;
    width: 7vw;
}

.flying-asteroid2 {
    animation: fly2 10s infinite;
    width: 10vw;
}

@keyframes fly {
    0%{
        transform: translate(-30vw, 0vh);
    }
    100%{
        transform: translate(130vw, 30vh);
    }
}

@keyframes fly2 {
    0%{
        transform: translate(-30vw, 10vh);
    }
    100%{
        transform: translate(130vw, 75vh);
    }
}

@media screen and (max-width: 500px) {
    .all-asteroids-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 90vw;
    }

    .all-asteroids-grid span {
        font-size: large;
    }
}