.homepage {
    background-color: rgb(111, 111, 111);
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono", monospace;
    background-size: 78vw;
}

.daily-photo-container {
    height: 53vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 6vw;
}

.daily-photo-info {
    background-color: rgba(1, 65, 9, 0.864);
    width: fit-content;
    max-width: 35vw;
    color: white;
    padding: 1em 2em;
    margin: 1em;
    margin-top: 8em;
}

.view-apod {
    font-size: large;
}

.daily-photo {
    width: 45vw;
    margin-top: 2em;
    margin-left: 3em;
}

h2,
h3,
a {
    color: white;
}

.homepage-asteroids-header h3 {
    background-color: rgba(127, 127, 28, 0.923);
    width: fit-content;
    padding: 0.75em;
    font-size: x-large;
}

.homepage-asteroids {
    margin-left: 3vw;
    margin-bottom: 10vh;
    margin-top: 1vw;
}

.homepage-asteroids-header {
    display: flex;
    align-items: center;
    width: 35vw;
}

.view-asteroids {
    height: fit-content;
    width: fit-content;
    padding: 0.5em;
    margin-left: 1em;
    font-size: larger;
    background-color: rgb(111, 111, 119);
    text-decoration: none;
    cursor: pointer;
    &:hover {
        border-style: solid;
        border-color: magenta;
    }
}

.homepage-asteroids-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 19em;
    grid-gap: 10px;
    width: 70vw;
}

@media screen and (max-width: 500px) {
    .homepage {
        background-size: cover;
        width: 100vw;
    }
    h3 {
        font-size: large;
    }

    .daily-photo-container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-left: 5px;
    }

    .daily-photo-container h2 {
        font-size: large;
    }

    .daily-photo-info {
        padding: 5px 10px;
        margin-top: 5px;
        max-width: 90vw;
    }

    .daily-photo {
        width: 90vw;
        margin: 0px 5px;
    }

    .homepage-asteroids-header {
        width: 90vw;
    }

    .homepage-asteroids-header h3 {
        margin-left: 5px;
        width: 10em;
    }

    .homepage-asteroids-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 18em;
        grid-gap: 10px;
        width: 90vw;
        margin-top: 15px;
    }

    .view-asteroids {
        margin: 20px;
        background-color: rgb(81, 81, 123);
    }

}