.data-table {
    width: 70vw;
    border-style: solid;
    border-color: rgb(18, 172, 18);
    border-width: 5px;
}

.rdt_TableCell {
    font-size: x-large;
    padding: 0.25em 0em;
}

.rdt_TableRow:hover {
    background-color: rgba(179, 179, 44, 0.648);
}

@media screen and (max-width: 500px) {
    .data-table {
        width: 76vw;
    }

    .asteroid-details {
        margin: 0px;
    }

    .rdt_TableCell {
        font-size: larger;
        padding: 0.25em 0em;
    }

    .sc-csKJxZ {
        font-size: x-large;
    }
}