.data-table {
    width: 70vw;
}

.rdt_TableCell {
    font-size: x-large;
}

.rdt_TableRow:hover {
    background-color: rgba(179, 179, 44, 0.648);
    /* background-color: rgba(1, 65, 9, 0.864); */
}

.sc-csKJxZ {
    font-size: xx-large;
    padding: 0.5em 0em;
}