.asteroid {
    background-color: rgba(8, 43, 47, 0.891);
    background-color: rgba(169, 182, 183, 0.891);
    color: rgb(0, 0, 0);
    padding: 1em;
    height: fit-content;
    cursor: pointer;
    font-size: large;
    z-index: 2;

    &:hover {
        border-style: solid;
        border-color: greenyellow;
    }
}

.asteroid h3 {
    font-size: x-large;
    text-align: center;
    color: rgb(191, 138, 138);
    margin: 0.5em;
    width: fit-content;
    background-color: rgb(50, 41, 41);
    padding: 0.25em;
}

.hazardous h3 {
    background-color: rgb(159, 16, 16);
    color: rgb(169, 153, 153);
}

span {
    font-weight: 800;
    font-size: 1.2em;
    color: rgb(80, 74, 170);
}