.change-data {
    color: white;
    display: flex;
    justify-content: end;
    margin: 2vh 4vw;
}

input,
button,
select {
    min-height: 3em;
    font-family: "JetBrains Mono", monospace;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}

button {
    margin: 0em 1em;
    padding: 0.5em;
    background-color: rgb(186, 186, 219);
    &:hover {
        border-style: solid;
        border-color: magenta;
    }

}

@media screen and (max-width:500px) {
    .change-data {
        display: inline-block;
        width: 98vw;
    }

    button,
    input {
        margin: 1vh 1vw;
    }
}